<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>nl</string>
	<key>CFBundleDisplayName</key>
	<string>AMOS</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>nl</string>
		<string>en</string>
		<string>fr</string>
	</array>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>inclufy-go</string>
				<string>com.inclufy.go</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>322</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NFCReaderUsageDescription</key>
	<string>AMOS by Inclufy uses NFC to instantly share and receive contact cards.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>AMOS by Inclufy voegt events toe aan je agenda met automatische herinneringen.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>AMOS by Inclufy voegt events toe aan je agenda met automatische herinneringen.</string>
	<key>NSCameraUsageDescription</key>
	<string>AMOS by Inclufy heeft camera nodig om event content te maken.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>AMOS by Inclufy uses Face ID for secure app access.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Allow $(PRODUCT_NAME) to access your location</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Allow $(PRODUCT_NAME) to access your location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>AMOS by Inclufy gebruikt je locatie om gescande contacten te taggen met regio-informatie.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>AMOS by Inclufy heeft microfoon nodig voor audio-opname en transcriptie.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Allow $(PRODUCT_NAME) to save photos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>AMOS by Inclufy slaat branded afbeeldingen op in je fotobibliotheek.</string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>Allow $(PRODUCT_NAME) to access your reminders</string>
	<key>NSRemindersUsageDescription</key>
	<string>Allow $(PRODUCT_NAME) to access your reminders</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
	</array>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
